{:source-paths
 ["src"] ;; .cljs files go here

 :dependencies
 [[re-frame "1.2.0"]
  [mount "0.1.16"]
  [bidi "2.1.6"]
  [district0x/district-graphql-utils "1.0.10"]
  [district0x/district-ui-graphql "1.0.13"]
  [district0x/graphql-query "1.0.6"]
  [cljsjs/apollo-fetch "0.7.0-0"]
  [binaryage/devtools "1.0.2"]]

 :nrepl {:port 37199}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main ;; <- becomes public/js/main.js
         {:entries [pomo.app]
          :init-fn pomo.app/init}}

        ;; start a development http server on http://localhost:8020
        :devtools
        {:http-root "public"
         :http-port 8020}
        }}}
