{:source-paths
 ["src"] ;; .cljs files go here

 :dependencies
 [[re-frame "1.2.0"]
  [bidi "2.1.6"]
  [binaryage/devtools "1.0.2"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main ;; <- becomes public/js/main.js
         {:entries [pomo.app]}}

        ;; start a development http server on http://localhost:8020
        :devtools
        {:http-root "public"
         :http-port 8020}
        }}}
